In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', 1000)

# Bringing in my state real estate data and looking at it real quick

In [3]:
realestate = pd.read_csv(r'C:\Users\FLRea\Documents\NSS\Capstone\Data\state_market_tracker.csv')

In [4]:
realestate.head()

,period_begin,period_end,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,5/1/2021,5/31/2021,state,4,14,f,New Mexico,NaN,New Mexico,NM,Single Family Residential,6,296300,0.080471,0.305633,276900.0,-0.007405,0.009410,154.0,0.051355,0.200665,160.0,-0.006870,0.066203,1001,0.029835,0.540000,1060.0,-0.005629,0.396574,1173.0,-0.003398,0.294702,3723.0,0.021679,-0.011943,3.7,0.0,-2.1,65.0,-1.0,-20.0,0.969869,-0.007686,-0.000706,0.098901,0.035115,0.048132,0.020414,0.007516,-0.004002,0.152349,-0.012277,0.021579,West Region,NaN,3/10/2025 14:20
1,6/1/2014,6/30/2014,state,4,30,f,South Carolina,NaN,South Carolina,SC,Single Family Residential,6,211400,0.065051,0.082470,201800.0,-0.002210,0.029873,105.0,0.045041,0.056118,108.0,-0.006334,0.025047,4101,0.078076,0.094184,3595.0,0.076670,0.077961,4995.0,-0.041819,0.149862,23035.0,0.000608,0.159519,5.6,-0.5,0.3,96.0,-3.0,-2.0,0.966970,0.000820,0.003483,0.117045,-0.004406,0.008187,0.014456,-0.001399,0.014305,0.049368,0.013691,0.037601,South Region,NaN,3/10/2025 14:20
2,2/1/2015,2/28/2015,state,4,22,f,Ohio,NaN,Ohio,OH,Condo/Co-op,3,103700,0.160259,0.087772,127900.0,0.074708,0.061412,72.0,0.067838,0.131510,80.0,0.035269,0.027576,464,-0.027254,0.047404,509.0,0.034553,0.159453,829.0,0.031095,-0.003606,3692.0,0.047673,-0.106053,8.0,0.6,-1.3,109.0,5.0,-15.0,0.941989,0.003475,0.009168,0.060345,-0.008838,-0.027691,0.016251,NaN,-0.254451,0.038692,0.004301,0.022337,Midwest Region,NaN,3/10/2025 14:20
3,3/1/2020,3/31/2020,state,4,39,f,Louisiana,NaN,Louisiana,LA,Single Family Residential,6,206900,0.039393,0.067922,225300.0,0.077782,0.053230,119.0,0.024036,0.057726,123.0,0.028093,0.029035,3537,0.248059,0.128590,3722.0,0.253199,0.095995,3198.0,0.182255,0.062458,11036.0,0.013593,-0.011022,3.1,-0.7,-0.5,90.0,-2.0,-11.0,0.972979,0.002835,0.003430,0.119593,0.007384,-0.000382,0.079830,0.007089,-0.012831,0.125710,0.013958,0.032423,South Region,NaN,3/10/2025 14:20
4,12/1/2013,12/31/2013,state,4,35,f,Kansas,NaN,Kansas,KS,All Residential,-1,149400,-0.053084,-0.034290,138900.0,-0.041843,-0.008476,74.0,-0.002286,0.045822,75.0,-0.023823,0.015256,2031,0.138453,0.185639,1064.0,0.206349,0.328340,1549.0,-0.242543,0.102491,6024.0,-0.081707,0.116589,3.0,-0.7,-0.1,101.0,5.0,-7.0,0.944873,-0.017677,-0.021409,0.102156,0.006809,-0.010204,NaN,NaN,NaN,0.010756,0.002413,-0.001589,Midwest Region,NaN,3/10/2025 14:20

In [5]:
realestate.shape

(39054, 57)

In [6]:
realestate.columns

Index(['period_begin', 'period_end', 'region_type', 'region_type_id', 'table_id', 'is_seasonally_adjusted', 'region', 'city', 'state', 'state_code', 'property_type', 'property_type_id', 'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy', 'median_list_price', 'median_list_price_mom', 'median_list_price_yoy', 'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf', 'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold', 'homes_sold_mom', 'homes_sold_yoy', 'pending_sales', 'pending_sales_mom', 'pending_sales_yoy', 'new_listings', 'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom', 'inventory_yoy', 'months_of_supply', 'months_of_supply_mom', 'months_of_supply_yoy', 'median_dom', 'median_dom_mom', 'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom', 'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom', 'sold_above_list_yoy', 'price_drops', 'price_drops_mom', 'price_drops_yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy', 'parent_metro_region', 'parent_metro_region_metro_code', 'last_updated'],
      dtype='object')

In [7]:
realestate.head(2)

,period_begin,period_end,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,5/1/2021,5/31/2021,state,4,14,f,New Mexico,NaN,New Mexico,NM,Single Family Residential,6,296300,0.080471,0.305633,276900.0,-0.007405,0.009410,154.0,0.051355,0.200665,160.0,-0.006870,0.066203,1001,0.029835,0.540000,1060.0,-0.005629,0.396574,1173.0,-0.003398,0.294702,3723.0,0.021679,-0.011943,3.7,0.0,-2.1,65.0,-1.0,-20.0,0.969869,-0.007686,-0.000706,0.098901,0.035115,0.048132,0.020414,0.007516,-0.004002,0.152349,-0.012277,0.021579,West Region,NaN,3/10/2025 14:20
1,6/1/2014,6/30/2014,state,4,30,f,South Carolina,NaN,South Carolina,SC,Single Family Residential,6,211400,0.065051,0.082470,201800.0,-0.002210,0.029873,105.0,0.045041,0.056118,108.0,-0.006334,0.025047,4101,0.078076,0.094184,3595.0,0.076670,0.077961,4995.0,-0.041819,0.149862,23035.0,0.000608,0.159519,5.6,-0.5,0.3,96.0,-3.0,-2.0,0.966970,0.000820,0.003483,0.117045,-0.004406,0.008187,0.014456,-0.001399,0.014305,0.049368,0.013691,0.037601,South Region,NaN,3/10/2025 14:20

# Removing columns that aren't needed and checking to see if it worked.

In [9]:
realestate = realestate.drop(columns = ['region', 'city', 'table_id', 'region_type', 'region_type_id', 'is_seasonally_adjusted', 'state_code', 'property_type_id', 'off_market_in_two_weeks', 'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy', 'parent_metro_region',
       'parent_metro_region_metro_code', 'last_updated'])
realestate.head(2)

  period_begin period_end           state              property_type  median_sale_price  median_sale_price_mom  median_sale_price_yoy  median_list_price  median_list_price_mom  median_list_price_yoy  median_ppsf  median_ppsf_mom  median_ppsf_yoy  median_list_ppsf  median_list_ppsf_mom  median_list_ppsf_yoy  homes_sold  homes_sold_mom  homes_sold_yoy  pending_sales  pending_sales_mom  pending_sales_yoy  new_listings  new_listings_mom  new_listings_yoy  inventory  inventory_mom  inventory_yoy  months_of_supply  months_of_supply_mom  months_of_supply_yoy  median_dom  median_dom_mom  median_dom_yoy  avg_sale_to_list  avg_sale_to_list_mom  avg_sale_to_list_yoy  sold_above_list  sold_above_list_mom  sold_above_list_yoy  price_drops  price_drops_mom  price_drops_yoy
0     5/1/2021  5/31/2021      New Mexico  Single Family Residential             296300               0.080471               0.305633           276900.0              -0.007405               0.009410        154.0         0.051355         0.200665             160.0             -0.006870              0.066203        1001        0.029835        0.540000         1060.0          -0.005629           0.396574        1173.0         -0.003398          0.294702     3723.0       0.021679      -0.011943               3.7                   0.0                  -2.1        65.0            -1.0           -20.0          0.969869             -0.007686             -0.000706         0.098901             0.035115             0.048132     0.020414         0.007516        -0.004002
1     6/1/2014  6/30/2014  South Carolina  Single Family Residential             211400               0.065051               0.082470           201800.0              -0.002210               0.029873        105.0         0.045041         0.056118             108.0             -0.006334              0.025047        4101        0.078076        0.094184         3595.0           0.076670           0.077961        4995.0         -0.041819          0.149862    23035.0       0.000608       0.159519               5.6                  -0.5                   0.3        96.0            -3.0            -2.0          0.966970              0.000820              0.003483         0.117045            -0.004406             0.008187     0.014456        -0.001399         0.014305

In [10]:
realestate.shape

(39054, 43)

# Converting the date columns into a datetime format and checking to see if it worked

In [12]:
realestate.period_begin = pd.to_datetime(realestate.period_begin)
realestate.period_end = pd.to_datetime(realestate.period_end)

In [13]:
realestate.dtypes.head(3)

period_begin    datetime64[ns]
period_end      datetime64[ns]
state                   object
dtype: object

In [14]:
print(realestate.state.unique())

['New Mexico' 'South Carolina' 'Ohio' 'Louisiana' 'Kansas' 'Georgia'
 'Massachusetts' 'Montana' 'North Dakota' 'Alabama' 'Delaware' 'Minnesota'
 'North Carolina' 'Virginia' 'Colorado' 'Iowa' 'Mississippi' 'Tennessee'
 'Connecticut' 'Utah' 'Texas' 'Maine' 'Florida' 'Illinois' 'New Hampshire'
 'Alaska' 'West Virginia' 'Indiana' 'Missouri' 'Wisconsin' 'Arizona'
 'South Dakota' 'New Jersey' 'Columbia' 'Oregon' 'Vermont' 'Pennsylvania'
 'California' 'Rhode Island' 'Oklahoma' 'Michigan' 'New York' 'Arkansas'
 'Washington' 'Hawaii' 'Idaho' 'Wyoming' 'Nebraska' 'Maryland' 'Kentucky'
 'Nevada']

# This was finding out how the range of years that the data covers

In [16]:
(realestate.period_begin.min()), (realestate.period_end.max())

(Timestamp('2012-01-01 00:00:00'), Timestamp('2025-02-28 00:00:00'))

# This is to add a year and month column

In [18]:
realestate['year'] = realestate.period_begin.dt.year
realestate.head(2)

  period_begin period_end           state              property_type  median_sale_price  median_sale_price_mom  median_sale_price_yoy  median_list_price  median_list_price_mom  median_list_price_yoy  median_ppsf  median_ppsf_mom  median_ppsf_yoy  median_list_ppsf  median_list_ppsf_mom  median_list_ppsf_yoy  homes_sold  homes_sold_mom  homes_sold_yoy  pending_sales  pending_sales_mom  pending_sales_yoy  new_listings  new_listings_mom  new_listings_yoy  inventory  inventory_mom  inventory_yoy  months_of_supply  months_of_supply_mom  months_of_supply_yoy  median_dom  median_dom_mom  median_dom_yoy  avg_sale_to_list  avg_sale_to_list_mom  avg_sale_to_list_yoy  sold_above_list  sold_above_list_mom  sold_above_list_yoy  price_drops  price_drops_mom  price_drops_yoy  year
0   2021-05-01 2021-05-31      New Mexico  Single Family Residential             296300               0.080471               0.305633           276900.0              -0.007405               0.009410        154.0         0.051355         0.200665             160.0             -0.006870              0.066203        1001        0.029835        0.540000         1060.0          -0.005629           0.396574        1173.0         -0.003398          0.294702     3723.0       0.021679      -0.011943               3.7                   0.0                  -2.1        65.0            -1.0           -20.0          0.969869             -0.007686             -0.000706         0.098901             0.035115             0.048132     0.020414         0.007516        -0.004002  2021
1   2014-06-01 2014-06-30  South Carolina  Single Family Residential             211400               0.065051               0.082470           201800.0              -0.002210               0.029873        105.0         0.045041         0.056118             108.0             -0.006334              0.025047        4101        0.078076        0.094184         3595.0           0.076670           0.077961        4995.0         -0.041819          0.149862    23035.0       0.000608       0.159519               5.6                  -0.5                   0.3        96.0            -3.0            -2.0          0.966970              0.000820              0.003483         0.117045            -0.004406             0.008187     0.014456        -0.001399         0.014305  2014

In [19]:
realestate['month'] = realestate.period_begin.dt.month
realestate.head(2)

  period_begin period_end           state              property_type  median_sale_price  median_sale_price_mom  median_sale_price_yoy  median_list_price  median_list_price_mom  median_list_price_yoy  median_ppsf  median_ppsf_mom  median_ppsf_yoy  median_list_ppsf  median_list_ppsf_mom  median_list_ppsf_yoy  homes_sold  homes_sold_mom  homes_sold_yoy  pending_sales  pending_sales_mom  pending_sales_yoy  new_listings  new_listings_mom  new_listings_yoy  inventory  inventory_mom  inventory_yoy  months_of_supply  months_of_supply_mom  months_of_supply_yoy  median_dom  median_dom_mom  median_dom_yoy  avg_sale_to_list  avg_sale_to_list_mom  avg_sale_to_list_yoy  sold_above_list  sold_above_list_mom  sold_above_list_yoy  price_drops  price_drops_mom  price_drops_yoy  year  month
0   2021-05-01 2021-05-31      New Mexico  Single Family Residential             296300               0.080471               0.305633           276900.0              -0.007405               0.009410        154.0         0.051355         0.200665             160.0             -0.006870              0.066203        1001        0.029835        0.540000         1060.0          -0.005629           0.396574        1173.0         -0.003398          0.294702     3723.0       0.021679      -0.011943               3.7                   0.0                  -2.1        65.0            -1.0           -20.0          0.969869             -0.007686             -0.000706         0.098901             0.035115             0.048132     0.020414         0.007516        -0.004002  2021      5
1   2014-06-01 2014-06-30  South Carolina  Single Family Residential             211400               0.065051               0.082470           201800.0              -0.002210               0.029873        105.0         0.045041         0.056118             108.0             -0.006334              0.025047        4101        0.078076        0.094184         3595.0           0.076670           0.077961        4995.0         -0.041819          0.149862    23035.0       0.000608       0.159519               5.6                  -0.5                   0.3        96.0            -3.0            -2.0          0.966970              0.000820              0.003483         0.117045            -0.004406             0.008187     0.014456        -0.001399         0.014305  2014      6

In [20]:
realestate['month_name'] = realestate.period_begin.dt.month_name()
realestate.head(2)

  period_begin period_end           state              property_type  median_sale_price  median_sale_price_mom  median_sale_price_yoy  median_list_price  median_list_price_mom  median_list_price_yoy  median_ppsf  median_ppsf_mom  median_ppsf_yoy  median_list_ppsf  median_list_ppsf_mom  median_list_ppsf_yoy  homes_sold  homes_sold_mom  homes_sold_yoy  pending_sales  pending_sales_mom  pending_sales_yoy  new_listings  new_listings_mom  new_listings_yoy  inventory  inventory_mom  inventory_yoy  months_of_supply  months_of_supply_mom  months_of_supply_yoy  median_dom  median_dom_mom  median_dom_yoy  avg_sale_to_list  avg_sale_to_list_mom  avg_sale_to_list_yoy  sold_above_list  sold_above_list_mom  sold_above_list_yoy  price_drops  price_drops_mom  price_drops_yoy  year  month month_name
0   2021-05-01 2021-05-31      New Mexico  Single Family Residential             296300               0.080471               0.305633           276900.0              -0.007405               0.009410        154.0         0.051355         0.200665             160.0             -0.006870              0.066203        1001        0.029835        0.540000         1060.0          -0.005629           0.396574        1173.0         -0.003398          0.294702     3723.0       0.021679      -0.011943               3.7                   0.0                  -2.1        65.0            -1.0           -20.0          0.969869             -0.007686             -0.000706         0.098901             0.035115             0.048132     0.020414         0.007516        -0.004002  2021      5        May
1   2014-06-01 2014-06-30  South Carolina  Single Family Residential             211400               0.065051               0.082470           201800.0              -0.002210               0.029873        105.0         0.045041         0.056118             108.0             -0.006334              0.025047        4101        0.078076        0.094184         3595.0           0.076670           0.077961        4995.0         -0.041819          0.149862    23035.0       0.000608       0.159519               5.6                  -0.5                   0.3        96.0            -3.0            -2.0          0.966970              0.000820              0.003483         0.117045            -0.004406             0.008187     0.014456        -0.001399         0.014305  2014      6       June

In [21]:
realestate = realestate.drop(columns = ['period_begin', 'period_end'])
realestate.head(2)

            state              property_type  median_sale_price  median_sale_price_mom  median_sale_price_yoy  median_list_price  median_list_price_mom  median_list_price_yoy  median_ppsf  median_ppsf_mom  median_ppsf_yoy  median_list_ppsf  median_list_ppsf_mom  median_list_ppsf_yoy  homes_sold  homes_sold_mom  homes_sold_yoy  pending_sales  pending_sales_mom  pending_sales_yoy  new_listings  new_listings_mom  new_listings_yoy  inventory  inventory_mom  inventory_yoy  months_of_supply  months_of_supply_mom  months_of_supply_yoy  median_dom  median_dom_mom  median_dom_yoy  avg_sale_to_list  avg_sale_to_list_mom  avg_sale_to_list_yoy  sold_above_list  sold_above_list_mom  sold_above_list_yoy  price_drops  price_drops_mom  price_drops_yoy  year  month month_name
0      New Mexico  Single Family Residential             296300               0.080471               0.305633           276900.0              -0.007405               0.009410        154.0         0.051355         0.200665             160.0             -0.006870              0.066203        1001        0.029835        0.540000         1060.0          -0.005629           0.396574        1173.0         -0.003398          0.294702     3723.0       0.021679      -0.011943               3.7                   0.0                  -2.1        65.0            -1.0           -20.0          0.969869             -0.007686             -0.000706         0.098901             0.035115             0.048132     0.020414         0.007516        -0.004002  2021      5        May
1  South Carolina  Single Family Residential             211400               0.065051               0.082470           201800.0              -0.002210               0.029873        105.0         0.045041         0.056118             108.0             -0.006334              0.025047        4101        0.078076        0.094184         3595.0           0.076670           0.077961        4995.0         -0.041819          0.149862    23035.0       0.000608       0.159519               5.6                  -0.5                   0.3        96.0            -3.0            -2.0          0.966970              0.000820              0.003483         0.117045            -0.004406             0.008187     0.014456        -0.001399         0.014305  2014      6       June

In [22]:
realestate.columns

Index(['state', 'property_type', 'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy', 'median_list_price', 'median_list_price_mom', 'median_list_price_yoy', 'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf', 'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold', 'homes_sold_mom', 'homes_sold_yoy', 'pending_sales', 'pending_sales_mom', 'pending_sales_yoy', 'new_listings', 'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom', 'inventory_yoy', 'months_of_supply', 'months_of_supply_mom', 'months_of_supply_yoy', 'median_dom', 'median_dom_mom', 'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom', 'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom', 'sold_above_list_yoy', 'price_drops', 'price_drops_mom', 'price_drops_yoy', 'year', 'month', 'month_name'], dtype='object')

In [23]:
realestate = realestate[['year', 'month', 'month_name','state', 'property_type', 'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy', 'median_list_price', 'median_list_price_mom', 'median_list_price_yoy', 'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf', 'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold', 'homes_sold_mom', 'homes_sold_yoy', 'pending_sales', 'pending_sales_mom', 'pending_sales_yoy', 'new_listings', 'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom', 'inventory_yoy', 'months_of_supply', 'months_of_supply_mom', 'months_of_supply_yoy', 'median_dom', 'median_dom_mom', 'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom', 'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom', 'sold_above_list_yoy', 'price_drops', 'price_drops_mom', 'price_drops_yoy']]

In [24]:
realestate.head(2)

   year  month month_name           state              property_type  median_sale_price  median_sale_price_mom  median_sale_price_yoy  median_list_price  median_list_price_mom  median_list_price_yoy  median_ppsf  median_ppsf_mom  median_ppsf_yoy  median_list_ppsf  median_list_ppsf_mom  median_list_ppsf_yoy  homes_sold  homes_sold_mom  homes_sold_yoy  pending_sales  pending_sales_mom  pending_sales_yoy  new_listings  new_listings_mom  new_listings_yoy  inventory  inventory_mom  inventory_yoy  months_of_supply  months_of_supply_mom  months_of_supply_yoy  median_dom  median_dom_mom  median_dom_yoy  avg_sale_to_list  avg_sale_to_list_mom  avg_sale_to_list_yoy  sold_above_list  sold_above_list_mom  sold_above_list_yoy  price_drops  price_drops_mom  price_drops_yoy
0  2021      5        May      New Mexico  Single Family Residential             296300               0.080471               0.305633           276900.0              -0.007405               0.009410        154.0         0.051355         0.200665             160.0             -0.006870              0.066203        1001        0.029835        0.540000         1060.0          -0.005629           0.396574        1173.0         -0.003398          0.294702     3723.0       0.021679      -0.011943               3.7                   0.0                  -2.1        65.0            -1.0           -20.0          0.969869             -0.007686             -0.000706         0.098901             0.035115             0.048132     0.020414         0.007516        -0.004002
1  2014      6       June  South Carolina  Single Family Residential             211400               0.065051               0.082470           201800.0              -0.002210               0.029873        105.0         0.045041         0.056118             108.0             -0.006334              0.025047        4101        0.078076        0.094184         3595.0           0.076670           0.077961        4995.0         -0.041819          0.149862    23035.0       0.000608       0.159519               5.6                  -0.5                   0.3        96.0            -3.0            -2.0          0.966970              0.000820              0.003483         0.117045            -0.004406             0.008187     0.014456        -0.001399         0.014305

# This is reading in the population data from excel and reformatting it using pd.melt

In [26]:
population = pd.read_csv(r'C:\Users\FLRea\Documents\NSS\Capstone\Data\population_new.csv')
population.head(5)

        State         2020         2021         2022         2023         2024
0     Alabama   5,033,094    5,049,196    5,076,181    5,117,673    5,157,699
1      Alaska     733,017      734,420      734,442      736,510      740,133
2     Arizona   7,187,135    7,274,078    7,377,566    7,473,027    7,582,384
3    Arkansas   3,014,546    3,026,870    3,047,704    3,069,463    3,088,354
4  California  39,521,958   39,142,565   39,142,414   39,198,693   39,431,263

In [27]:
population = pd.melt(population, id_vars=['State'], var_name = 'year', value_name = 'population')
population.head()

        State  year   population
0     Alabama  2020   5,033,094
1      Alaska  2020     733,017
2     Arizona  2020   7,187,135
3    Arkansas  2020   3,014,546
4  California  2020  39,521,958

In [28]:
population= population.rename(columns = {'State':'state'})

# Removing all years except 2020 to 2024 so I can merge the 2 datasets and look at a 5 year dataset

In [30]:
realestate = realestate.loc[realestate['year'].between(2020, 2024)]

In [31]:
realestate.year.unique()

array([2021, 2020, 2024, 2023, 2022])

# Quick check to see if the lists of states are the same..

In [33]:
sorted(population.state.unique()) == sorted(realestate.state.unique())

True

In [34]:
population['year'] = pd.to_datetime(population['year'], format = '%Y')

In [35]:
population['year'] = population['year'].dt.year

In [36]:
population.head(2)

     state  year  population
0  Alabama  2020  5,033,094
1   Alaska  2020    733,017

# Now I can merge the two dataframes together

In [38]:
realestate.shape

(15045, 44)

In [39]:
realpop = pd.merge(realestate, population, on = ['state','year'], how = 'inner')
realpop.head(2)

   year  month month_name       state              property_type  median_sale_price  median_sale_price_mom  median_sale_price_yoy  median_list_price  median_list_price_mom  median_list_price_yoy  median_ppsf  median_ppsf_mom  median_ppsf_yoy  median_list_ppsf  median_list_ppsf_mom  median_list_ppsf_yoy  homes_sold  homes_sold_mom  homes_sold_yoy  pending_sales  pending_sales_mom  pending_sales_yoy  new_listings  new_listings_mom  new_listings_yoy  inventory  inventory_mom  inventory_yoy  months_of_supply  months_of_supply_mom  months_of_supply_yoy  median_dom  median_dom_mom  median_dom_yoy  avg_sale_to_list  avg_sale_to_list_mom  avg_sale_to_list_yoy  sold_above_list  sold_above_list_mom  sold_above_list_yoy  price_drops  price_drops_mom  price_drops_yoy  population
0  2021      5        May  New Mexico  Single Family Residential             296300               0.080471               0.305633           276900.0              -0.007405                0.00941        154.0         0.051355         0.200665             160.0             -0.006870              0.066203        1001        0.029835         0.54000         1060.0          -0.005629           0.396574        1173.0         -0.003398          0.294702     3723.0       0.021679      -0.011943               3.7                   0.0                  -2.1        65.0            -1.0           -20.0          0.969869             -0.007686             -0.000706         0.098901             0.035115             0.048132     0.020414         0.007516        -0.004002  2,117,333
1  2020      3      March   Louisiana  Single Family Residential             206900               0.039393               0.067922           225300.0               0.077782                0.05323        119.0         0.024036         0.057726             123.0              0.028093              0.029035        3537        0.248059         0.12859         3722.0           0.253199           0.095995        3198.0          0.182255          0.062458    11036.0       0.013593      -0.011022               3.1                  -0.7                  -0.5        90.0            -2.0           -11.0          0.972979              0.002835              0.003430         0.119593             0.007384            -0.000382     0.079830         0.007089        -0.012831  4,652,301

# Quick sanity check to see if it worked properly by looking at population for all of these.

In [41]:
realpop.loc[(realpop.year == 2021) & (realpop.state == 'Utah')].head(5)

     year  month month_name state            property_type  median_sale_price  median_sale_price_mom  median_sale_price_yoy  median_list_price  median_list_price_mom  median_list_price_yoy  median_ppsf  median_ppsf_mom  median_ppsf_yoy  median_list_ppsf  median_list_ppsf_mom  median_list_ppsf_yoy  homes_sold  homes_sold_mom  homes_sold_yoy  pending_sales  pending_sales_mom  pending_sales_yoy  new_listings  new_listings_mom  new_listings_yoy  inventory  inventory_mom  inventory_yoy  months_of_supply  months_of_supply_mom  months_of_supply_yoy  median_dom  median_dom_mom  median_dom_yoy  avg_sale_to_list  avg_sale_to_list_mom  avg_sale_to_list_yoy  sold_above_list  sold_above_list_mom  sold_above_list_yoy  price_drops  price_drops_mom  price_drops_yoy  population
144  2021      5        May  Utah              Condo/Co-op             424800              -0.022647               0.610664           643900.0               0.140594               0.432223        326.0        -0.059688         0.477086             293.0              0.102400              0.438670         459       -0.133962        0.475884          514.0           0.082105           0.075314         521.0         -0.042279         -0.013258      564.0       0.012567      -0.485871               1.2                   0.1                  -2.3         7.0            -4.0           -20.0          1.027691              0.005990              0.036469         0.575163             0.041201             0.305067     0.108156        -0.006745        -0.077806  3,339,738
281  2021      8     August  Utah                Townhouse             417600               0.005937               0.310692           495600.0              -0.001798               0.255408        215.0         0.027600         0.281955             222.0             -0.014300              0.240101         703        0.096724       -0.058902          738.0           0.118182          -0.137850         694.0         -0.059621         -0.132500      710.0      -0.019337      -0.205817               1.0                  -0.1                  -0.2        10.0             0.0            -8.0          1.027779             -0.004821              0.022865         0.618777            -0.027089             0.163623     0.222535         0.098226         0.090544  3,339,738
367  2021      2   February  Utah              Condo/Co-op             376100               0.037373               0.231040           744700.0               0.281826               0.509094        331.0        -0.125363         0.276644             324.0             -0.319894              0.401995         368        0.030812        0.247458          438.0          -0.075949           0.128866         373.0         -0.190889          0.110119      541.0      -0.108731      -0.339438               1.5                  -0.2                  -1.3        22.0           -15.0           -10.0          1.006388              0.007726              0.016946         0.440217             0.106884             0.179200     0.073937        -0.018320        -0.070141  3,339,738
382  2021      2   February  Utah          All Residential             423500               0.031452               0.212587           487200.0               0.133082               0.319662        209.0         0.016947         0.282711             218.0             -0.100941              0.281927        3140        0.064046       -0.006643         3574.0          -0.061203          -0.151270        3462.0          0.054845         -0.093717     4311.0      -0.015079      -0.446882               1.4                  -0.1                  -1.1        17.0            -9.0           -29.0          1.011703              0.005733              0.021055         0.495541             0.053657             0.191207     0.081884        -0.002421        -0.056813  3,339,738
448  2021      3      March  Utah  Multi-Family (2-4 Unit)             498500               0.075583               0.205286           427500.0               0.051054               0.219348        216.0         0.108164         0.198335             196.0              0.051379              0.238841          52        0.019608        0.209302           89.0           0.648148           0.459016          89.0          0.816327          0.219178       67.0       0.264151      -0.355769               1.3                   0.3                  -1.1        14.0            -9.0           -27.0          1.015488              0.016163              0.038349         0.500000             0.049020             0.290698     0.268657         0.098845         0.018657  3,339,738

# Download to CSV so it can be put into Power Bi

In [43]:
realpop.to_csv('pop_python.csv', index=False)

# Create a smaller Dataset so I can export to SQL and query it

In [45]:
table1 = realpop[['year', 'state', 'homes_sold', 'population']]
table1.head(2)

   year       state  homes_sold  population
0  2021  New Mexico        1001  2,117,333
1  2020   Louisiana        3537  4,652,301

In [46]:
table1.dtypes

year           int32
state         object
homes_sold     int64
population    object
dtype: object

table1.to_csv('table1.csv', index=False)

# Bringing SQL data back into python after organizing it.

In [49]:
from sqlalchemy import create_engine, text

In [50]:
database_name = 'realpop'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [51]:
engine = create_engine(connection_string)

In [52]:
def sql(query):
    with engine.connect() as connection :
        return pd.read_sql(text(query), con = connection)

In [53]:
sql_table = '''SELECT year, 
		state, 
		sum(homes_sold) as homes_sold
FROM realpop
GROUP BY 1,2
ORDER BY year; '''

In [54]:
homes_sold_years = sql(sql_table)
homes_sold_years

     year         state  homes_sold
0    2020  Pennsylvania      306921
1    2020          Utah      107829
2    2020      Nebraska       50092
3    2020       Montana       34595
4    2020      Delaware       20742
..    ...           ...         ...
250  2024        Hawaii       23251
251  2024    New Mexico       19062
252  2024         Texas      646107
253  2024        Alaska       14386
254  2024       Vermont       14284

[255 rows x 3 columns]

# Adding two new columns so I can calculate the year over year percent change for homes sold.

In [56]:
homes_sold_years['prev_year_sold'] = homes_sold_years.groupby('state')['homes_sold'].shift(1)
homes_sold_years

     year         state  homes_sold  prev_year_sold
0    2020  Pennsylvania      306921             NaN
1    2020          Utah      107829             NaN
2    2020      Nebraska       50092             NaN
3    2020       Montana       34595             NaN
4    2020      Delaware       20742             NaN
..    ...           ...         ...             ...
250  2024        Hawaii       23251         23370.0
251  2024    New Mexico       19062         19147.0
252  2024         Texas      646107        640122.0
253  2024        Alaska       14386         14222.0
254  2024       Vermont       14284         13773.0

[255 rows x 4 columns]

In [57]:
homes_sold_years['sold_yoy_percent'] = (homes_sold_years['homes_sold'] - homes_sold_years['prev_year_sold']) / homes_sold_years['prev_year_sold'] * 100
homes_sold_years

     year         state  homes_sold  prev_year_sold  sold_yoy_percent
0    2020  Pennsylvania      306921             NaN               NaN
1    2020          Utah      107829             NaN               NaN
2    2020      Nebraska       50092             NaN               NaN
3    2020       Montana       34595             NaN               NaN
4    2020      Delaware       20742             NaN               NaN
..    ...           ...         ...             ...               ...
250  2024        Hawaii       23251         23370.0         -0.509200
251  2024    New Mexico       19062         19147.0         -0.443934
252  2024         Texas      646107        640122.0          0.934978
253  2024        Alaska       14386         14222.0          1.153143
254  2024       Vermont       14284         13773.0          3.710158

[255 rows x 5 columns]

In [111]:
homes_sold_years.dtypes

year                  int64
state                object
homes_sold            int64
prev_year_sold      float64
sold_yoy_percent    float64
dtype: object

# This is bringing in the top and bottom 5 yoy sale states from SQL

In [59]:
top5_yoy_sales = '''WITH year_ranks AS (SELECT *,
	RANK() OVER(PARTITION BY year ORDER BY sold_yoy_percent DESC)
FROM homes_sold
WHERE sold_yoy_percent IS NOT NULL)
--
SELECT *
FROM year_ranks
WHERE rank BETWEEN 1 AND 5;'''

In [60]:
top5_yoy_sales = sql(top5_yoy_sales)
top5_yoy_sales

    year          state  homes_sold  prev_year_sold  sold_yoy_percent  rank
0   2021         Hawaii       40193         29240.0         37.458960     1
1   2021       New York      364951        294080.0         24.099225     2
2   2021      Louisiana      115630         97070.0         19.120223     3
3   2021         Nevada      129664        109584.0         18.323843     4
4   2021        Florida     1081708        923774.0         17.096606     5
5   2022     New Mexico       30113         25838.0         16.545398     1
6   2022       Oklahoma      109656        120120.0         -8.711289     2
7   2022    Mississippi       44940         49453.0         -9.125837     3
8   2022  West Virginia       23699         26213.0         -9.590661     4
9   2022        Indiana      186949        209032.0        -10.564411     5
10  2023          Idaho       52545         57422.0         -8.493260     1
11  2023          Texas      640122        720028.0        -11.097624     2
12  2023       Nebraska       40016         45094.0        -11.260922     3
13  2023         Kansas       62780         71304.0        -11.954449     4
14  2023  West Virginia       20797         23699.0        -12.245242     5
15  2024  West Virginia       23115         20797.0         11.145838     1
16  2024           Utah       75104         69118.0          8.660552     2
17  2024   North Dakota        8676          8147.0          6.493188     3
18  2024     Washington      174271        164188.0          6.141131     4
19  2024        Wyoming       12554         11859.0          5.860528     5

In [61]:
bottom5_yoy_sales = '''WITH year_ranks AS (SELECT *,
	RANK() OVER(PARTITION BY year ORDER BY sold_yoy_percent)
FROM homes_sold
WHERE sold_yoy_percent IS NOT NULL)
--
SELECT *
FROM year_ranks
WHERE rank BETWEEN 1 AND 5;'''

In [62]:
bottom5_yoy_sales = sql(bottom5_yoy_sales)
bottom5_yoy_sales

    year          state  homes_sold  prev_year_sold  sold_yoy_percent  rank
0   2021          Idaho       74377         79953.0         -6.974097     1
1   2021           Utah      102084        107829.0         -5.327880     2
2   2021        Montana       33165         34595.0         -4.133545     3
3   2021  New Hampshire       48176         49163.0         -2.007607     4
4   2021        Wyoming       18034         17875.0          0.889510     5
5   2022         Nevada       96063        129664.0        -25.913901     1
6   2022     California      673011        886079.0        -24.046163     2
7   2022        Montana       25334         33165.0        -23.612242     3
8   2022          Idaho       57422         74377.0        -22.796026     4
9   2022     Washington      214926        276143.0        -22.168587     5
10  2023     New Mexico       19147         30113.0        -36.416166     1
11  2023         Hawaii       23370         31936.0        -26.822395     2
12  2023         Alaska       14222         19127.0        -25.644377     3
13  2023         Oregon       89341        118948.0        -24.890709     4
14  2023     Washington      164188        214926.0        -23.607195     5
15  2024       Columbia       13048         14050.0         -7.131673     1
16  2024        Florida      733932        765015.0         -4.063058     2
17  2024      Louisiana       80237         81852.0         -1.973073     3
18  2024    Connecticut       74030         75462.0         -1.897644     4
19  2024        Georgia      249794        253981.0         -1.648549     5